<div class="controlTxt">Lights:</div>
{{#paper-switch checked=lightsOn}} {{lightsOnTxt}} {{/paper-switch}}

<div class="controlTxt">Brightness:</div>
{{paper-slider flex=true min='0' max='255' value=lightsBrightness}}
