<div class="row">
    <div id="playerArea" class="col-lg-8 col-xs-12">

        <div id="playerControls">
          {{paper-icon icon="skip-previous" action="previous" class="playerControllIcon"}}
          {{paper-icon icon=playButton action="play" class="playerControllIcon"}}
          {{paper-icon icon="skip-next" action="pause" class="playerControllIcon"}}
        </div>
    </div>

    <div id="playlist" class="col-lg-4 col-xs-12">
        <input id="audio_file" type="file" accept="audio/*" />
    </div>
</div>