<div class="footer-text">
    © {{year}}

    <a href="https://www.nidratech.com/" target="_blank" rel="noopener noreferrer">
        Nidratech Ltd
    </a>
</div>

<a href="https://play.google.com/store/apps/details?id=com.hoboman313.huegasm" target="_blank" rel="noopener noreferrer">
    <img src="assets/images/google-play-badge.png" alt="Get it on the Google Play Store">
</a>