<a href="https://chrome.google.com/webstore/detail/huegasm-for-philips-hue-l/mbjanbdhcpohhfecjgbdpcfhnnbofooj" target="_blank" rel="noopener noreferrer" class="hidden-xs">
  <img src="assets/images/chrome-store-badge.png" alt="Available in the Chrome Web Store">
</a>

<div id="footer-text">
  Forged from 🔥 © {{year}}

  <a href="https://www.nidratech.com/" target="_blank" rel="noopener noreferrer">
    Nidratech Ltd
  </a>
</div>

<a href="https://play.google.com/store/apps/details?id=com.hoboman313.huegasm" target="_blank" rel="noopener noreferrer">
  <img src="assets/images/android-play-badge.png" alt="Get it on the Play Store">
</a>

<a href="https://itunes.apple.com/us/app/huegasm-for-philips-hue-lights/id1403108485" target="_blank" rel="noopener noreferrer">
  <img src="assets/images/app-store-badge.svg" alt="Get it on the App Store">
</a>