<a href="https://chrome.google.com/webstore/detail/huegasm-for-philips-hue-l/mbjanbdhcpohhfecjgbdpcfhnnbofooj" target="_blank" rel="noopener noreferrer" class="hidden-xs">
    <img src="assets/images/chrome-store-badge.png" alt="Available in the Chrome Web Store">
</a>

<div id="footer-text">
    © {{year}}

    <a href="http://www.nidratech.com/" target="_blank" rel="noopener noreferrer">
        Nidratech Ltd
    </a>
</div>

<a href="https://play.google.com/store/apps/details?id=com.hoboman313.huegasm" target="_blank" rel="noopener noreferrer">
    <img src="assets/images/google-play-badge.png" alt="Get it on the Google Play Store">
</a>