<div class="logo" {{action "toggleDimmer"}}></div>

<div class="footer-text">
    © {{year}}

    <a href="http://www.egorphilippov.me" target="_blank" rel="noopener noreferrer">
        Egor Philippov
    </a>
</div>