@import 'ember-paper';
@import 'bower_components/bootstrap-sass/assets/stylesheets/_bootstrap';
@import 'ember-modal-dialog/ember-modal-structure';
@import 'ember-modal-dialog/ember-modal-appearance';

body, html {
  height: 100%;
}

#pressButtonBridgeImg {
  width: 200px;
  margin: 0 auto 0 auto;
  display: inherit;
}

.noTextDecoration {
  text-decoration: none;
}

md-list {
  max-width: 800px;
}

.hueLight {
  margin-right: 10px;
  border-radius: 20px;
}

.hueLight.inactive {
  background-color: rgba(255, 0, 0, 0.7);
}

.hueLight.active:hover {
  cursor: pointer;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  -webkit-transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
  transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
}

.ember-modal-overlay.translucent {
  background-color: #000000;
}

md-icon {
  color: rgba(0, 0, 0, 0.54) !important;
}

md-icon.menu {
  margin-top: 10px;
}

.addButton {
  cursor: pointer;
  margin-left: 30px;
}

.removeButton {
  cursor: pointer;
  margin: 0 0 0 auto !important;
}

.sideNavTitle {
  margin-left: 10px;
}

md-toolbar {
  background-color: inherit !important;
}

.innerControlFrame {
  background-color: mintcream;
  height: 100vh;
}
