# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp

# dependencies
/node_modules
/bower_components

# misc
/.sass-cache
/connect.lock
/coverage/*
/libpeerconnection.log
npm-debug.log
testem.log
/.idea/

ember-cordova/tmp-livereload
ember-cordova/cordova/www/*
!ember-cordova/cordova/www/.gitkeep
ember-cordova/cordova/plugins/*
!ember-cordova/cordova/plugins/.gitkeep
ember-cordova/cordova/platforms/*
!ember-cordova/cordova/platforms/.gitkeep
