@import 'ember-modal-dialog/ember-modal-structure';
@import 'ember-modal-dialog/ember-modal-appearance';

@import 'huegasm-variables';

@import 'bootstrap'; // used to take out bootstrap scss modules that we don't need
@import 'paper';

@import 'bridge-finder';
@import 'common';
@import 'dimmer';
@import 'fancy-speaker';
@import 'introjs';
@import 'hue-controls';
@import 'light-group';
@import 'music-tab';
@import 'noui-slider';

[data-ember-action] {
  cursor: pointer;
  text-decoration: none;
}

-webkit-tap-highlight-color {
  rgba: (0, 0, 0, 0);
}

body, button {
  font-family: 'Raleway', sans-serif;
}

.alert {
  margin-bottom: 0;
  border: none;
}

button.md-warn {
  background: $secondaryThemeColor;
}

div.ember-modal-dialog {
  padding: 20px;
  color: $blackish;
  md-input-container {
    width: 100%;
    input.md-input[type="text"] {
      color: $blackish !important;
    }
  }
  md-input-container label {
    color: rgba(0, 0, 0, 0.26);
  }
}

.title {
  margin-bottom: 50px;
  img {
    width: 200px;
  }
}

.ps-scrollbar-y-rail {
  opacity: 1 !important;
}
