#press-bridge-button-img {
  width: 200px;
  margin: 0 auto 30px auto;
  display: inherit;
}

#bridge-button-group {
  width: 150px;
  margin: 30px auto;
  text-align: left;
}

#bridge-input md-input-container{
  max-width: 200px;
  margin: 30px auto 20px;
}

#bridge-finder {
  text-align: center;
  padding: 10px 15px 0;
  font-size: 16px;
}

#bridge-finder .md-bar {
  background-color: $secondaryThemeColor !important;
}
