#lights-tab {
  padding: 0;
  margin-top: 5vh;
  .paper-icon {
    line-height: 0.8 !important;
  }
}

#hue-controls {
  max-width: 1200px;
  position: relative;
  min-height: 100vh;
  md-progress-circular {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

#navigation {
  padding: 15px 0 4vh;
  text-align: center;
  position: relative;
  .ember-basic-dropdown-trigger {
    z-index: 3;
    text-align: right;
    position: absolute;
    top: 5px;
    right: -10px;
    transform: scale(1.1);
  }
}

.navigation-item {
  font-size: 20px;
  padding: 0 10px 0 10px;
  &.active {
    font-weight: bold;
    text-decoration: none !important;
  }
}

.color {
  border: 1px solid rgb(164, 164, 164);
}

.color-row .md-list-item-inner {
  padding-right: 0;
}

#color-picker {
  padding: 5px;
  background: rgba(0, 0, 0, 0.7);
  box-shadow: 5px 10px 15px 5px rgba(0, 0, 0, 0.3);
  color: #FFFFFF;
  position: absolute;
  width: 266px;
  height: 266px;
  right: 6px;
  top: -9px;
  z-index: 3;
}

.color-content {
  box-shadow: none !important;
  md-menu-content, md-menu-item {
    background-color: transparent !important;
  }
}

#loop-addition {
  position: absolute;
  left: 33px;
  top: 15px;
  font-size: 16px !important;
}

#huegasm-content {
  height: 80%;
  max-height: 500px;
}
