$playerHeight: 400px;
$playerDefaultIconColor: #BBBBBB;
$secondaryThemeColor: #F12B24;
$glowingText: 0 0 2px #fff, 0 0 4px #fff, 0 0 20px #228DFF;
$dimmerOnButtonColor: #404040;
$blackish: #242424;
$whitish: #e0e0e0;
$paperThemeColor: #3f51b5;
