.introjs-overlay {
  background: black;
}

#settings.introjs-fixParent {
  position: inherit !important;
}

.introjs-tooltip {
  color: black;
}

.introjs-skipbutton {
  color: $secondaryThemeColor;
}

.introjs-bullets ul li a.active {
  position: relative;
  height: 10px;
  width: 10px;
  top: -2px;
}
