.light-group {
  margin: 0 auto;
  text-align: center;
  div {
    display: inline-block;
  }
}

.light-inactive {
  position: relative;
}

.light-inactive::before {
  font-weight: bold;
  position: absolute;
  content: "X";
  top: -10px;
  left: 5px;
  font-size: 40px;
  color: rgba(255, 0, 0, 0.37);
  font-family: Tahoma, Geneva, sans-serif;
}

.horizontal-light-group {
  .light-inactive::before {
    top: -9px;
    left: 6px;
  }
}

.light-active {
  img {
    transition-duration: 0.3s;
    transition-property: transform;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  }
}

.ember-modal-overlay.translucent {
  background-color: rgba(0, 0, 0, 0.50);
}

.remove-button {
  margin: 10px 0 10px 60px;
}
