@import 'ember-paper';

md-checkbox .md-icon, .md-off, .md-on {
  border-color: inherit !important;
}

md-checkbox.md-default-theme.md-checked .md-icon {
  background: $secondaryThemeColor;
}

md-checkbox .md-label {
  width: 125px;
  text-align: left;
}

.md-button {
  font-size: 13px;
  flex-direction: unset;
  span {
    width: 100%;
  }
}

.ember-basic-dropdown-trigger {
  outline: none !important;
}

md-progress-circular {
  margin: 0 auto 20px auto !important;
}

md-progress-linear {
  margin-bottom: 50px !important;
}

md-slider.md-default-theme .md-thumb:after {
  border-color: $secondaryThemeColor;
  background-color: $secondaryThemeColor;
}

md-icon {
  color: rgba(0, 0, 0, 0.54) !important;
}

md-switch.md-default-theme.md-checked .md-thumb {
  background-color: $secondaryThemeColor;
}

md-list-item {
  margin-bottom: 2vh;
}

.md-thumb-text {
  user-select: none;
}
