<div id="huegasm">
  <div class="ready-block">
    <div id="intro-background">
      <div id="intro-wrapper">
        <p id="intro">Your lights meet your music</p>

        <p id="intro-paragraph">
          Huegasm is a
          <a href="https://chrome.google.com/webstore/detail/huegasm-for-philips-hue-l/mbjanbdhcpohhfecjgbdpcfhnnbofooj" target="_blank" rel="noopener noreferrer">
            Chrome</a>,
          <a href="https://play.google.com/store/apps/details?id=com.hoboman313.huegasm" target="_blank" rel="noopener noreferrer">
            Android</a>
          and
          <a href="https://itunes.apple.com/us/app/huegasm-for-philips-hue-lights/id1403108485" target="_blank" rel="noopener noreferrer">
            iOS</a>
          app for controlling and synchronizing your
          <a target="_blank" href="http://www2.meethue.com">Philips Hue lights</a> with the beat of your music.
        </p>

        <div class="embed-container-wrapper">
          <div class="embed-container">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/zi9J6Qg-MPw" frameborder="0" allowfullscreen></iframe>
          </div>
        </div>

        <div class="available-on-container">
          <p class="available-on">Best experience</p>

          <a href="https://chrome.google.com/webstore/detail/huegasm-for-philips-hue-l/mbjanbdhcpohhfecjgbdpcfhnnbofooj" class="chrome-store-icon" target="_blank" rel="noopener noreferrer">
            <img src="assets/images/chrome-store-badge.png" alt="Huegasm on the Chrome Web Store">
          </a>

          <p class="available-on">Also available on</p>

          <div class="available-on-list">
            <a class="play-store-icon" href="https://play.google.com/store/apps/details?id=com.hoboman313.huegasm" target="_blank" rel="noopener noreferrer">
              <img src="assets/images/android-play-badge.png" alt="Huegasm on the Google Play Store"></a>

            <a class="app-store-icon" href="https://itunes.apple.com/us/app/huegasm-for-philips-hue-lights/id1403108485" target="_blank" rel="noopener noreferrer">
              <img src="assets/images/app-store-badge.svg" alt="Huegasm on the App Store"></a>

            {{#link-to "web-app" class="btn btn-default" role="button"}}
              Web (legacy)
            {{/link-to}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<footer id="footer" class="show">
  <div id="footer-text">
      Forged from 🔥 © {{year}}

      <a href="https://www.nidratech.com/" target="_blank" rel="noopener noreferrer">
          Nidratech Ltd
      </a>
  </div>
</footer>
