{{#each lightsList as |light|}}
  <div class="{{light.activeClass}} light{{light.id}}" data-toggle="tooltip" data-placement="top auto" {{action "clickLight" light.id}}>
    <img class="hueLight" width="40" src="assets/images/lights/{{light.type}}.svg">
  </div>
{{/each}}