.row {
  margin: 0;
}

#music-tab {
  padding: 0;
  margin-top: 10px;
  margin-bottom: 20px;
}

#beat-area {
  position: relative;
  padding: 0;
}

#beat-option-button-group {
  margin: 20px 0 10px 0;
}

#light-option {
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
  .md-label {
    width: auto;
  }
}

.beat-option {
  padding: 5px 0;
  text-align: center;
  md-checkbox {
    padding: 10px 0;
  }
  md-switch {
    margin: 0;
  }
  .option-description {
    display: inline-flex;
    font-size: 18px;
    justify-content: center;
    flex-direction: column;
    padding: 10px 0;
  }
  button {
    margin-top: 0;
  }
  .tooltip {
    margin: 0;
  }
}

#player-bottom {
  color: $blackish;
  border: 1px solid black;
  width: 100%;
  background: white;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  display: flex;
  align-items: center;
}

#beat-container {
  display: flex;
  margin-bottom: 10px;
}

#beat-area .light-group {
  margin: 10px 20px 0 40px;
  float: right;
  div {
    display: block;
    padding: 10px;
  }
}

.close {
  font-size: 18px !important;
  color: rgb(51, 51, 51);
  display: none;
  text-shadow: none;
  &:hover {
    color: darken(#333333, 5%) !important;
  }
}

#fancy-button-wrapper {
  display: flex;
  justify-content: center;
}

.fancy-button {
  background-image: -webkit-linear-gradient(top, #f4f1ee, #fff);
  background-image: linear-gradient(top, #f4f1ee, #fff);
  border-radius: 50%;
  box-shadow: 0px 8px 10px 0px rgba(0, 0, 0, .3), inset 0px 4px 1px 1px white, inset 0px -3px 1px 1px rgba(204,198,197,.5);
  float:left;
  height: 90px;
  margin: 0 30px 30px 0;
  position: relative;
  width: 90px;			
  -webkit-transition: all .1s linear;
  transition: all .1s linear;
  &:after {
    color:#e9e6e4;
    content: "";
    display: block;
    font-size: 50px;
    height: 30px;
    text-decoration: none;
    text-shadow: 0px -1px 1px #bdb5b4, 1px 1px 1px white;
    position: absolute;
    width: 30px;
  }
  &:hover {
    background-image: -webkit-linear-gradient(top, #fff, #f4f1ee);
    background-image: linear-gradient(top, #fff, #f4f1ee);
    color:#0088cc;
  }
  &:active {
    background-image: -webkit-linear-gradient(top, #efedec, #f7f4f4);
    background-image: linear-gradient(top, #efedec, #f7f4f4);
    box-shadow: 0 3px 5px 0 rgba(0,0,0,.4), inset 0px -3px 1px 1px rgba(204,198,197,.5);
    &:after{
      color:#dbd2d2;
      text-shadow: 0px -1px 1px #bdb5b4, 0px 1px 1px white;
    }
  }
}

.note {
  &.active:after {
    color: $secondaryThemeColor;
  }
  &:after{
    content: "♪";
    left: 32px;
    top: 14px;
  }
  &:hover:after {
    color: $secondaryThemeColor;
    text-shadow: 0px 0px 6px $secondaryThemeColor;
  }
}

@media(min-width:767px) and (max-width:1200px) {
  #play-list-controls .paper-button {
    border: 1px solid $whitish;
    border-radius: 5px;
  }
}

@media(max-width: 500px) {
  #sensitivity-settings .noUi-value-vertical {
    display: none;
  }
  .option-description {
    height: 55px;
  }
}

// mobile overrides
@media(max-width:767px) {
  div#player-bottom {
    display: block !important;
  }
  #beat-area {
    height: initial;
  }
  #seek-slider {
    height: 8px;
    .noUi-handle {
      opacity: 1 !important;
    }
  }
  #seek-slider {
    margin-bottom: 15px;
  }
  .close {
    display: block;
  }
  md-checkbox {
    padding-right: 20px !important;
  }
}
