#press-bridge-button-img {
  width: 200px;
  margin: 0 auto 30px auto;
  display: inherit;
}

#bridge-button-group {
  width: 150px;
  margin: 30px auto;
  text-align: left;
}

#bridge-input md-input-container{
  max-width: 200px;
  margin: 30px auto 20px;
}

#intro {
  font-size: 32px;
}

#intro-paragraph {
  margin-bottom: 20px;
  font-size: 18px;
}

#bridge-finder, .ready-block {
  text-align: center;
  font-size: 16px;
}

.ready-block {
  margin-bottom: 10vh;
}

#bridge-finder {
  min-height: 500px;
  flex-direction: column;
  display: flex;
  justify-content: center;
  .md-bar {
    background-color: $secondaryThemeColor !important;
  }
}

.embed-container {
  position:relative;
  padding-bottom:56.25%;
  padding-top:30px;
  height:0;
  overflow:hidden;
}

.embed-container iframe, .embed-container object, .embed-container embed {
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
}

.go-button {
  margin: 20px 0;
  border-radius: 100% !important;
  width: 100px;
  height: 100px;
  font-size: 28px;
  transition: all .1s linear;
  &:hover {
    background-color: darken(#f44336, 7%) !important;
  }
}

@media(max-width:768px) {
  .ready-block {
    margin-bottom: 10px;
  }
}
