#press-bridge-button-img {
  width: 200px;
  margin: 0 auto 30px auto;
  display: inherit;
}

#bridge-button-group {
  width: 150px;
  margin: 30px auto;
  text-align: left;
}

#bridge-input md-input-container{
  max-width: 200px;
  margin: 30px auto;
}

#intro {
  font-size: 22px;
}

#intro-paragraph {
  margin-bottom: 20px;
  font-size: 16px;
}

#bridge-finder, .ready-block {
  text-align: center;
  padding: 10px 15px 0;
  font-size: 16px;
}

#bridge-finder .md-bar {
  background-color: $secondaryThemeColor !important;
}

// preloading image
.ready-block:after {
  display: none;
  content: url(images/pressButtonBridge.png);
}

.embed-container {
  position:relative;
  padding-bottom:56.25%;
  padding-top:30px;
  height:0;
  overflow:hidden;
}

.embed-container-wrapper {
  max-width: 550px;
  margin: auto;
}

.embed-container iframe, .embed-container object, .embed-container embed {
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
}

.go-button {
  margin: 20px 0;
  border-radius: 100% !important;
  width: 100px;
  height: 100px;
  font-size: 28px;
  &:hover {
    background: darken(#3f51b5, 10%) !important;
  }
}
