.text-left {
  text-align: left !important;
}

.extra-margin-top {
  margin-top: 20px;
}

.relative {
  position: relative !important;
}

.no-text-decoration {
  text-decoration: none !important;
}

.pointer {
  cursor: pointer;
}