$playerHeight: 400px;
$playerDefaultIconColor: #BBBBBB;
$footerHeight: 40px;
$playerBottomHeight: 255px;
$secondaryThemeColor: #F12B24;
$glowingText: 0 0 2px #fff, 0 0 8px #fff, 0 0 20px #228DFF;
$dimmerOnButtonColor: #404040;