$playerHeight: 400px;
$playerDefaultIconColor: #BBBBBB;
$footerHeight: 45px;
$playerBottomHeight: 255px;
$secondaryThemeColor: #F12B24;
$glowingText: 0 0 2px #fff, 0 0 4px #fff, 0 0 2px #228DFF;
$dimmerOnButtonColor: #404040;
$blackish: #242424;
$whitish: #e0e0e0;