.light-group {
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  .tooltip.top {
    margin-top: 1px;
    margin-left: 2px;
  }
}

.toggleable-light {
  cursor: pointer;
  position: relative;
  border-radius: 30%;
  border: 2px solid $whitish;
  margin: 0 2px;
  display: flex;
  height: 50px;
  align-items: center;
  justify-content: center;
}

.light-inactive {
  border-color: rgba($secondaryThemeColor, 0.4);
}

.light-inactive::before {
  font-weight: bold;
  position: absolute;
  top: -5px;
  content: "\e014";
  font-family: 'Glyphicons Halflings';
  font-size: 40px;
  color: rgba($secondaryThemeColor, 0.6);
}

.light-active {
  border-color: rgba(green, 0.4);
  img {
    transition-duration: 0.3s;
    transition-property: transform;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  }
  img:hover {
    transform: scale(1.2);
  }
}

.ember-modal-overlay.translucent {
  background-color: rgba(0, 0, 0, 0.50);
}

.remove-button {
  margin: 10px 0 10px 60px;
}

.light-text {
  width: 60px;
  word-wrap: break-word;
  padding: 0 7px;
}

.light-text-content {
  display: block; /* Fallback for non-webkit */
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}