.light-group {
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  .tooltip.top {
    margin-top: 1px;
    margin-left: 2px;
  }
  div {
    display: inline-block;
  }
}

.light-inactive {
  cursor: pointer;
  position: relative;
}

.light-inactive::before {
  font-weight: bold;
  position: absolute;
  top: -9px;
  left: 6px;
  content: "X";
  font-size: 40px;
  color: rgba(255, 0, 0, 0.37);
  font-family: cursive;
}

.light-active {
  cursor: pointer;
  img {
    transition-duration: 0.3s;
    transition-property: transform;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  }
  img:hover {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
}

.ember-modal-overlay.translucent {
  background-color: rgba(0, 0, 0, 0.50);
}

.remove-button {
  margin: 10px 0 10px 60px;
}

.light-text {
  width: 60px;
  word-wrap: break-word;
  padding: 0 10px;
  &.light-inactive::before {
    left: 10px;
  }
}
