{{#if isShowingModal}}
  {{#paper-dialog fullscreen=fullscreen onClose=(action "close") origin=dialogOrigin clickOutsideToClose=true}}
    {{#paper-dialog-content}}
      <p>Enter a <a href="https://soundcloud.com" target="_blank" rel="noopener noreferrer">SoundCloud</a> track or playlist/set
        URL</p>
      <p>(ex. https://soundcloud.com/mrsuicidesheep/tracks)</p>

      {{paper-input label="SoundCloud URL" class="full-width" icon="search" value=url onChange=(action (mut url))}}
    {{/paper-dialog-content}}

    {{#paper-dialog-actions class="layout-row" }}
      <span class="flex"></span> {{paper-button onClick=(action "close") label="Close"}} {{paper-button class="pull-right" onClick=(action "add") disabled=saveDisabled primary=true label="Add Music"}}
    {{/paper-dialog-actions}}
  {{/paper-dialog}}
{{/if}}