{{#if isShowingModal}}
  {{#modal-dialog close="close" alignment="center" translucentOverlay=true attachment="center" targetAttachment="center"}}

    <p>Enter a <a href="https://soundcloud.com" target="_blank" rel="noopener noreferrer">SoundCloud</a> track or playlist/set URL</p>
    <p>( ex. https://soundcloud.com/mrsuicidesheep/tracks )</p>

    {{paper-input label="SoundCloud URL" icon="search" value=url}}

    {{paper-button onClick=(action "close") label="Close"}}
    {{paper-button class="pull-right" onClick=(action "add") disabled=saveDisabled primary=true label="Add Music"}}

  {{/modal-dialog}}
{{/if}}