{{#if isShowingLightsModal}}
  {{#modal-dialog close="clickLight"
  alignment="center"
  translucentOverlay=true}}
      TODO
      <button {{action 'clickLight'}}>Close</button>
  {{/modal-dialog}}
{{/if}}