{{#paper-list}}

  {{#paper-item class="item"}}
    {{paper-icon icon="music-note"}}
      <p>Music</p>
      {{#paper-button raised=true primary=true}}UPLOAD{{/paper-button}}
  {{/paper-item}}

{{/paper-list}}